*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url('https://i.pinimg.com/736x/ed/7f/1b/ed7f1bd8e3176276a0af91a082d4777.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
    max-width: 1140px;
    margin: 0 auto;


}

nav{
    padding: 1rem;
}

.nav-con{
    display: 0;
    justify-content: space-between;
    
}

.AsTroPath a{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: small
;
}

.menu li {
    margin: 0 1rem;

}

.menu li a {
    color: aliceblue;
    text-decoration: none;
}

.maincontent-con{
    background-color: rgba(112, 59, 161,0.5);
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.maincontent-info{
    width: 100%;
    padding: 1rem;
    
}

.maincontent-info a{
    color: aliceblue;
    text-decoration: none;
}

.maincontent-info h3{
    font-size: 2rem;
    color: aliceblue;
    
}

.maincontent-info p{
    margin: 1rem 0;
    color: aliceblue;

}

.maincontent-info .maincontent-btn{
    background-color: rgb(194, 102, 145);
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 7px;
    text-decoration: none;
}

.maincontent-img{
    border-radius: 10px;


}

.page h2{
    font-size: 2rem;
    color: aliceblue;
}


.content-con{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    color: rgb(25, 247, 255);
}

.content-title{
    margin: 2rem 0;
}

.content-title h3{
    color: aliceblue;
    padding:0;
}

.content-item img{
    width: 100%;
    border-radius: 7px;
}

.content-item h4{
    margin-top: 1rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: aliceblue;
    background-color: rgb(127, 72, 179);
    padding: 0.5rem 1rem;
    border-radius: 7px;
    text-decoration: none;
}

.maincontent-btn{
    background-color: rgb(173, 79, 129);
    color: aliceblue;
    padding: 0.3rem;
    border-radius: 7px;
    text-decoration: none;
}